<table>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="split left">
        
                    <div class="parent">
                        <img class="image1" src="./assets/images/blob-small.svg" />
                        <img class="image2" src="./assets/images/We make it Super Sim.svg" />
                        <br>
                        <hr>
                        <img class="image3" src="./assets/images/collect_img-video.png" />
                        <img class="image4" src="./assets/images/accounting_dots.svg"/>
                
                      </div>
                   </div>
                   
                   <div class="split right">
                    <div id="overlay-div1">
                        <div class="container"> 
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="card">
                                        <div class="header-div">
                                           <p style="text-align: center;font-size:20px;font-family:serif">Eligibity Calculator</p> 
                                        </div>
                                        <label style="text-align: left;font-size:15px;color:gray;margin: 12px;">Monthly Income</label>
                                       
                                            <label style="text-align: left;font-size:16px;margin-left: 12px;"> <b>&#8377; 1,50,000</b></label>
                                           
                                                <!-- <p>Default range slider:</p> -->
                                                <input type="range" min="1" max="100" value="50" id="myRange" style="width: 90%;margin-left: 12px;">
                                           <div class="row">
                                               <div class="col-lg-6"><label style="text-align: left;font-size:12px;margin-left:10px;color:gray">&#8377; 1,00,000</label>
                                               </div>
                                               <!-- <div class="col-lg-3"></div> -->
                                               <div class="col-lg-6"><label style="text-align: right;font-size:12px;color:gray;margin-left:65px">&#8377; 3,00,000</label>
                                               </div>
                                           </div>
                                         
                                         <!-- <p style="font-size:10px;color:gray">
                                            <label style="text-align: left;"> &#8377; 100,000</label>
                                         <label style="text-align: right;"> &#8377;300,000</label>
                                        </p> -->
                                        <label style="text-align: left;font-size:15px;color:gray;margin: 12px;">Monthly Expense</label>
                                       
                                        <label style="text-align: left;font-size:16px;margin-left: 12px;"> <b>&#8377;50,000</b></label>
                                        <input type="range" min="1" max="100" value="1"  id="myRange" style="width: 90%;margin-left: 12px;">
        
                                        <label style="text-align: left;font-size:15px;color:gray;margin: 12px;">Repayment Tenure</label>
                                        <div class="input-field col s12">
                                            <select>
                                              <option value="" disabled selected>6 Months</option>
                                              <option value="1">Option 1</option>
                                              <option value="2">Option 2</option>
                                              <option value="3">Option 3</option>
                                            </select>
                                        </div>
                                       
                                        <div class="row">
                                            <div class="col-lg-8">
                                          <label style="text-align: left;font-size:14px;color:gray;margin-left:10px;">Do you have an existing loans?</label>
                                            </div>
                                            <!-- <div class="col-lg-3"></div> -->
                                            <div class="col-lg-4">
                                                <label class="switch">
                                                    <input type="checkbox" checked style="margin-right:2px;">
                                                    <span class="slider1 round"></span>
                                                  </label>
                                                
                                            </div>
                                        </div>
                                        <label style="text-align: left;font-size:14px;color:gray;margin-left:10px;">EMI of existing Loan(optional)</label>
                                        <div class="input-field col 6">
                                            <!-- <label for="first_name"><b></b></label> -->
                                            <input type="text" id="fname" name="firstname" value="&#8377;15,000" class="inputstyle">
                                          </div>
                                      </div>
                              <div class="col-lg-4">
                              <div class="card5">
                                  <section class="sec4">
                                    <p style="text-align:center;color:white;margin-top:50px;font-size:small;">Loan Amount</p>
                                  
                                    <p style="margin-left: 10px;color:white;text-align:center;font-size:small;">&#8377;1,00,000</p>
                                    <p style="color:white;text-align:center;font-size:small;">Your Emi will be</p>
                                    
                                <p style="margin-left: 10px;color:white;text-align:center;font-size:small;">&#8377;15000</p>
                              
      
                                   <p style="margin-left: 20px;"><button class="button button2">Get Money</button></p>
                
                                  </section>
                                
                            </div>
                            </div>
                             </div>
                             </div>
                             </div>
                             </div>
                   
                    <img src="./assets/images/circle.svg" class="rightimg"/>
                    <img class="image5" src="./assets/images/accounting_dots.svg"/>
                  
                     </div>
            </div>
        </div>
    
    </div>
</table>

<table style="margin-top: 120px;">
    <div class="container1">
      
<section class="sec">
  
    <svg xmlns="http://www.w3.org/2000/svg" id="curve" viewBox="0 0 1440 320" >
        <path  d="M0,192L80,202.7C160,213,320,235,480,208C640,181,800,107,960,96C1120,85,1280,139,1360,165.3L1440,192L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z">

      </path></svg>

     
      
     <div class="row" style="margin-top: 30px;">
            <div class="col-lg-3">
                <div class="card1">
                    
                 <img src="./assets/images/Get Paid Instantly.png" height="60px" width="60px" style="margin: 10px;">
                 <br/>
                 <div>
                     <p  style="margin-left: 10px;">
                        <b>Quick cash disbursement</b>
                     </p>
                   <p style="margin-left: 10px; margin-top: 10px;">
                    Get terms loans that your business needs within 72 hrs

                   </p>
                 </div>
          
                  </div>
                  <div class="card4">
                 <img src="./assets/images/Low interest rate.png" height="60px" width="60px" style="margin: 10px;">
                    <br>
                    <div>
                        <p style="margin-left: 10px;">
                            <b>Low-interest rate</b>
                        </p>
                    <p style="margin-left: 10px; margin-top: 10px;">
                        Achieve your financial goals with an amazing interest rate starting at 13% per annum

                    </p> 
                    </div>
                  
                  </div>
                  <div class="card6">
                 <img src="./assets/images/Secure Payments.png" height="60px" width="60px" style="margin: 10px;">
                    <br>
                 <div>
                     <p style="margin-left: 10px;">
                        <b>Zero Paperwork</b>
                     </p>
                     <p style="margin-left: 10px; margin-top: 10px;">
                        Get started instantly by submitting only your basic details & bank statements
                     </p>
                  
                  
                </div>
              
                
          
                  </div>
             
                  
            </div>
            
            <div class="col-lg-3">
                <div class="card2">
                  
                    <img src="./assets/images/freelancer_feature_icon_6@1.5x.png" height="60px" width="60px" style="margin: 10px;">
                    <br>
                    <div>
                        <p style="margin-left: 10px;">
                            <b>Ace your business finances</b>
                        </p>
                      <p style="margin-left: 10px; margin-top: 10px;">
                        Manage banking, accounting & everything in between, on one platform

                      </p>
                   </div>
          
                  </div>
                  <div class="card3">
                 <img src="./assets/images/Covid.png" height="60px" width="60px" style="margin: 10px;">
                 <br>
                 <div>
                     <p style="margin-left: 10px;">
                        <b>Loans to fight COVID-19</b>
                     </p>
                 <p style="margin-left: 10px; margin-top: 10px;">
                    Zero EMI for first 3 months on Back-to-Business loans of upto 1 lakh
                 </p>
                   
                </div>
                  
                  </div>
                </div>
              
              
                
        </div>
        <div class="col-lg-3" style="margin-left: 750px;margin-top:300px;">
            <h3>
               Boost your business with Open
            </h3>
            
            <br>
            <hr class="hr2">
            <br>
            <p style="color: gray;">
                Get your hands on a term loan that’s crafted for your business
            </p>
            <br>
            <button class="button button1">Get an Open Account</button>
        </div>
    </section>
    <section class="sec2"></section>
</div>
</table>

    


  
 